@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

.hamburger {
  display: none;
  position: fixed;
  top: 30px;
  left: 20px;
  font-size: 30px;
  z-index: 1000;
  cursor: pointer; }

.hamburger i {
  color: var(--yellow);
  z-index: 300; }

.delete {
  position: fixed;
  top: 17px;
  left: 23px;
  font-size: 30px;
  z-index: 1200;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  color: var(--yellow);
  display: none; }

i {
  color: yellow; }

:root {
  --yellow:#fbc531; }

span {
  color: var(--yellow); }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

#right {
  background-color: black;
  color: white;
  height: 100vh; }

#left {
  background-color: #353b48;
  height: 100vh;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  display: block; }

.left_nav {
  width: 100%;
  height: 100vh;
  position: relative; }

#navbar {
  position: absolute;
  top: 15%;
  left: 20%; }

.navbar {
  height: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353b48;
  text-align: center; }

.navbar .image {
  background-color: #353b48;
  display: block; }

.navbar .image img {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid yellow; }

.navbar .nav_list {
  margin-top: 2rem; }

.navbar .nav_list ul {
  background-color: #353b48; }

.navbar .nav_list ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: .1rem; }

.navbar .nav_list ul li a:hover {
  color: crimson; }

.navbar .nav_list ul li {
  padding: 1rem 0;
  font-size: 2rem;
  list-style: none;
  font-weight: 500;
  position: relative;
  background-color: #353b48; }

.navbar .nav_list ul li::after {
  content: '';
  width: 180%;
  height: 1px;
  background-color: #718093;
  bottom: 0;
  left: -48px;
  position: absolute;
  opacity: .7; }

.navbar .nav_list ul li i {
  margin-right: 1.2rem;
  color: yellow; }

#right {
  background-color: black;
  padding-left: 270px;
  display: block;
  height: 100vh;
  width: 100%; }

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative; }

.home {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.home h4 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  letter-spacing: .2rem; }

.home h1 {
  color: white;
  padding: 2rem 0; }

.home h1 span {
  color: var(--yellow);
  font-weight: 600; }

.home p {
  font-size: 1.5rem;
  color: #718093;
  line-height: 2.5rem;
  text-align: justify; }

.home button {
  margin-top: 2rem;
  padding: .3rem 3rem;
  border-radius: 4.5rem;
  border: 2px solid #fbc531;
  background-color: transparent; }

.home button a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 600; }

#about {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white; }

#about span {
  color: #fbc531; }

.about .about_caption {
  text-align: center;
  padding: 20px 0 10px 0; }

.about_caption h1 {
  font-size: 3.5rem;
  font-weight: 600; }

.about_caption p {
  font-size: 1.3rem;
  font-style: italic;
  position: relative;
  display: inline-block; }

.about_caption p::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  height: 2px;
  width: 20px;
  background-color: #fbc531; }

.about_caption p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 59px;
  height: 2px;
  width: 20px;
  background-color: #fbc531; }

hr {
  width: 80%;
  background-color: var(--yellow);
  margin-left: 10%; }

.about_content {
  padding: 80px 0; }

.details {
  padding-left: 20px;
  padding-top: 10px; }

.details p {
  font-size: 2.2rem;
  text-align: left; }

.experience {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px; }

.card {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 20px;
  background-color: #353b48;
  display: block; }

.card h1 {
  padding-top: 17px; }

.card p {
  font-size: 16px; }

.frontend {
  padding-top: 80px; }

.backend {
  padding-top: 80px; }

.skill {
  height: 100vh;
  background-color: black;
  padding: 0 15px; }

.skill .about_caption {
  text-align: center; }

.skill .about_caption p::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  height: 2px;
  width: 20px;
  background-color: #fbc531; }

.skill .about_caption p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 76px;
  height: 2px;
  width: 20px;
  background-color: #fbc531; }

.skill_caption {
  position: relative;
  margin-bottom: 40px; }

.skill_caption h1 {
  font-size: 3rem;
  padding: 5px 0; }

.skill_caption::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 32px;
  background-color: crimson;
  bottom: 0;
  left: 0; }

.skill_caption::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 16px;
  background-color: crimson;
  bottom: -8px;
  left: 0; }

.skill_box {
  padding-bottom: 20px; }

.skill_box .skill_name {
  display: flex;
  justify-content: space-between; }

.skill_box .skill_name p {
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-bottom: 0; }

.skill_box .range {
  height: 4px;
  width: 100%;
  border-radius: 45px;
  background-color: #353b48; }

.range_color1 {
  background-color: var(--yellow);
  height: 4px;
  width: 90%;
  border-radius: 45px; }

.range_color2 {
  background-color: var(--yellow);
  height: 4px;
  width: 90%;
  border-radius: 45px; }

.range_color3 {
  background-color: var(--yellow);
  height: 4px;
  width: 80%;
  border-radius: 45px; }

.range_color4 {
  background-color: var(--yellow);
  height: 4px;
  width: 75%;
  border-radius: 45px; }

.range_color5 {
  background-color: var(--yellow);
  height: 4px;
  width: 60%;
  border-radius: 45px; }

.range_color6 {
  background-color: var(--yellow);
  height: 4px;
  width: 55%;
  border-radius: 45px; }

.range_color7 {
  background-color: var(--yellow);
  height: 4px;
  width: 60%;
  border-radius: 45px; }

.range_color8 {
  background-color: var(--yellow);
  height: 4px;
  width: 57%;
  border-radius: 45px; }

.skill hr {
  width: 80%;
  width: 1;
  padding: 0; }

#contact {
  background-color: black;
  height: 100vh;
  padding-bottom: 40px; }

.contact .about_caption {
  padding-top: 20px; }

.contact .about_caption p::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -21px;
  height: 2px;
  width: 20px;
  background-color: #fbc531; }

.contact .about_caption p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 72px;
  height: 2px;
  width: 20px;
  background-color: #fbc531; }

.contact .col-md-6 {
  padding: 60px 30px; }

.contact ul h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize; }

.contact ul h1 span {
  color: var(--yellow); }

.contact ul li {
  font-size: 2rem;
  padding-top: 20px;
  list-style: none; }

.contact ul li i {
  color: var(--yellow);
  padding-right: 10px; }

form {
  overflow: hidden; }

.contact input {
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  background-color: #353b48;
  border: 1px solid  #353b48;
  border-radius: 5px;
  outline: none; }

.contact input::placeholder {
  color: white;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px; }

textarea {
  margin-top: 25px;
  background-color: #353b48;
  outline: none;
  border-radius: 5px;
  border: 1px solid #353b48; }

textarea::placeholder {
  color: white;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px; }

form button {
  margin-top: 7px;
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid var(--yellow);
  border-radius: 10px;
  color: white;
  font-size: 2rem; }

.project {
  width: 100%;
  height: 100vh;
  background-color: black; }

.project .about_caption {
  padding-top: 20px; }

.project .carousel-item {
  padding: 70px 0; }

video {
  height: 270px;
  width: 100%;
  padding-left: 10px; }

.video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 270px;
  width: 500px;
  background-color: black;
  opacity: .3;
  cursor: pointer; }

.video_caption {
  width: 100%; }

.video_caption h1 {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0; }

.video_caption p {
  font-size: 2rem;
  line-height: 2.5rem;
  break-inside: auto; }

#footer {
  text-align: center;
  background-color: #1e272e;
  padding-top: 25px;
  padding-bottom: 25px; }

.footer p {
  font-size: 1.7rem;
  padding-top: 7px; }

.footer a {
  padding: 0 10px;
  font-size: 2rem; }

.footer a i {
  padding: 5px;
  font-size: 4rem;
  color: #006266;
  transition: .5s all; }

.footer a:hover i {
  color: crimson; }
